<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{ nombre }} </td>
        <td> uppercase </td>
        <td> {{ nombre | uppercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> lowercase </td>
        <td> {{ nombre | lowercase }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:3 </td>
        <td> {{ nombre | slice:3 }} </td>
      </tr>
      <tr>
        <td> {{ nombre }} </td>
        <td> slice:0:3 </td>
        <td> {{ nombre | slice:0:3 }} </td>
      </tr>
      <tr>
        <td> {{ arreglo }} </td>
        <td> slice:1:5 </td>
        <td> {{ arreglo | slice:1:5 }} </td>
      </tr>
      <tr>
        <td> {{ PI }} </td>
        <td> number:'1.0-2' </td>
        <td> {{ PI | number:'1.0-2' }} </td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent </td>
        <td> {{ a | percent }} </td>
      </tr>
      <tr>
        <td> {{ a }} </td>
        <td> percent:'2.2-2' </td>
        <td> {{ a | percent:'2.2-2' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency </td>
        <td> {{ salario | currency }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'EUR':'code' </td>
        <td> {{ salario | currency:'EUR':'code' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'CLP':'symbol' </td>
        <td> {{ salario | currency:'CLP':'symbol' }} </td>
      </tr>
      <tr>
        <td> {{ salario }} </td>
        <td> currency:'CLP':'symbol-narrow' </td>
        <td> {{ salario | currency:'CLP':'symbol-narrow':'.2-2' }} </td>
      </tr>
      <tr>
          <td> {{ promesa }} </td>
          <td> async </td>
          <td> {{ promesa | async }} </td>
      </tr>
      <tr>
          <td> {{ fecha }} </td>
          <td> date </td>
          <td> {{ fecha | date }} </td>
      </tr>
      <tr>
          <td> {{ fecha }} </td>
          <td> date:'full' </td>
          <td> {{ fecha | date:'full' }} </td>
      </tr>
      <tr>
          <td> {{ fecha }} </td>
          <td> date:'dd-MM-yyyy' </td>
          <td> {{ fecha | date:'dd-MM-yyyy' }} </td>
      </tr>
      <tr>
          <td> {{ nombre2 }} </td>
          <td> capitalizado pipe personalizado </td>
          <td> {{ nombre2 }} </td>
      </tr>
      <tr>
          <td> {{ nombre2 }} </td>
          <td> capitalizado pipe personalizado </td>
          <td> {{ nombre2 | capitalizado:'arg1':'arg2' }} </td>
      </tr>     
    </tbody>
  </table>

  <hr>
  <div>
    <h4>slice arreglo</h4>
    <ul *ngFor="let numero of arreglo | slice:3:8">
      <li>{{ numero }}</li>
    </ul>
  </div>

  <div>
    <h4>JSON</h4>
    <pre>
      {{ heroe | json }}
    </pre>
  </div>

  <br><br><br><br>

</div>